* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  cursor: default;
  background-color: #f0f0f0;
  color: #1c1c1a;
  height: 100vh;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
}
